# 디폴트 무시된 파일
/shelf/
/workspace.xml
# Rider에서 무시된 파일
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.NonAllocFlags.iml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
